<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <script src='https://www.google.com/recaptcha/api.js'></script>
        <div class="g-recaptcha" data-sitekey="6LcWbP4UAAAAAJIt5HsVeGD4qocq1g07Cyv0-SQ5"></div>
        
        <button type="submit" value="submit">Submit</button>
    </form>
</body>
</html>