{% extends 'index.html' %}
{% block content %}

<div class="containre">
    <table class="table table-hover">
        <thead>
            <tr>
              <th scope="col">User</th>
              <!-- <th scope="col">Time Generated</th> -->
            </tr>
          </thead>
    <tbody>
      
        {% for regs in reg_list %}
        <tr class="table-success">
            <td> <a href="{% url 'regdetail' pk=regs.pk %}"><button class="btn btn-outline-primary">{{regs}}</button></a></td>
            
        </tr>
       
        
        {% endfor %}
        
    </div>

{% endblock %}